@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #fefefe;
  --cp: #e3f2fd;
  --cs: #1565c0;
  --gray-text: #676767;
  --border-color: #cccccc;
}


body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: scroll;
}
